@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

 :root{
     --main-color:blue;
 } 
*{
 font-family: 'nunito',sans-serif;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: grey;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
body{
    background: black;
}
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
    Background:grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}
.header.logo{
    font-weight: bolder;
    color: white;
    font-size: 2.5rem; 
}
.header.logo span{
    color: dodgerblue;
    font-size: 12px;
}
.header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:white;
}
.header .navbar a:hover{
    color: var(--main-color);
}
#menu-bars{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
 html{
    font-size:55%; 
}
.header{
    padding: 1.5rem 2rem;
 } 
} 
@media(max-width:768px){
    #menu-bars{
    display:initial;
    }
    .header .navbar{
        position: absolute;
        top:0; left: 0; right: 0;
        border-top: .1rem solid black;
        background: indianred;
    }
    .header .navbar a{
        display: flex;
        background:grey;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
    }
}
}
@media(max-width:450px){
    html{
       font: size 50px; 
   }
   
}